<html lang="en">
<head>
	<meta charset="utf-8">
	<title>聊天室</title>
	<link rel="stylesheet" class="ui" href="/static/css/semantic.min.css"/>
    <link rel="stylesheet" class="ui" href="/static/css/body.css"/>
    <link rel="stylesheet" class="ui" href="/static/css/chat.css"/>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
	  $("#post_roominfo").click(function(){
	    $.post("/room/$("#roomid").val()",
	    {
	      roomid:$("#roomid").val(),
	      roomname:$("#roomname").val(),
	      created_time:$("#created_time").val(),
	      owner_id:$("#owner_id").val(),
	      owner_name:$("#owner_name").val()
	    });
	  });
	});
	</script>
</head>

<body>
	<div class="ui fixed transparent inverted main menu">
        <div class="container">
            <div class="title item">
                <b>{{cookieUser}}&nbsp</b> 在线聊天系统 
            </div>

            <div class="right menu">
                <div class="title item">
                    {%if usertype == 2%}
						<b><a href='/admin'>管理</a></b>
					{%end%}
					{%if usertype != 0%}
						&nbsp <b><a href='/create'>创建聊天室</a></b>
					{%end%}
                    &nbsp<b><a href="/modify"> 修改个人信息 </a></b>
                    &nbsp<b><a href="/logout"> 注销 </a></b>
                </div>
            </div>
        </div>
    </div>
    <!--room列表-->
    <div class="ui grid column five">
	    {% for room in roomlist %}
	    	<!-- #room[0]:roomid,[1]:roomname,[2]:created_time,[3]:userid-->
	    	<!-- room[4]:owner_name-->
	    	<span style="visibility:hidden" id = "roomid"> {{room[0]}} </span>
	    	<span style="visibility:hidden" id = "roomname"> {{room[1]}} </span>
	    	<span style="visibility:hidden" id = "created_time"> {{room[2]}} </span>
	    	<span style="visibility:hidden" id = "owner_id"> {{room[3]}} </span>
	    	<span style="visibility:hidden" id = "owner_name"> {{room[4]}} </span>
	    	<div class="column">
			    <button id = "post_roominfo">
		            <div class="ui segment">
		                <h3>{{room[1]}}</h3>
		                <p>
		                创建者：{{room[4]}} 
		                </p>
		                <p>
		                创建时间：{{room[2]}}
		                </p>
		            </div>
			    </button>
		    </div>
	    {% end %}
    </div>
</body>