<html lang="en">
<head>
	<meta charset="utf-8">
	<title>登录</title>
	<script type="text/javascript">
		function vaildateForm() {
			var username = document.forms["loginForm"]["username"].value;
			var password = document.forms["loginForm"]["password"].value;
			if (username == null || username == ""){
				alert("用户名不能为空");
				return false;
			}
			var reg_filter=/^s*[.A-Za-z0-9_-]{4,20}s*$/;
			if (!reg_filter.test(username)){
				alert("用户名填写不正确,请重新填写！可使用的字符为（A-Z a-z 0-9 _ - .)长度不小于4个字符，不超过20个字符，注意不要使用空格");
				return false;
			}
			if (password == null || password == ""){
				alert("密码不能为空");
				return false;
			}
			if (!reg_filter.test(password)){
				alert("密码填写不正确,请重新填写！可使用的字符为（A-Z a-z 0-9 _ - .)长度不小于4个字符，不超过15个字符，注意不要使用空格");
				return false;	
			}
			return true;
		}
	</script>
</head>

<body>
	{%if not cookieUser%}
	<h1>登录</h1><br><br>
	<form name="loginForm"  action="/login" onsubmit="return vaildateForm();" method="post">
		用户名： 
		<input type="text" name="username" id="username" size="24"  maxlength="24"></br></input>
		密码： 
		<input type="password" name="password" id="password" size="24"  maxlength="24"></br></input>
		<input type="submit" value="登录" id="submit">
		<a href='/register'> 无帐号，请点击注册 </a>
	</form>
	{%else%}
		<!-- 跳转进入聊天室-->
		<meta http-equiv="refresh" content="1; url=/chatroom" />
	{%end%}
</body>
</html>
