<html lang="en">
<head>
	<meta charset="utf-8">
	<title>注册</title>
	<script type="text/javascript">

		function vaildateForm() {
			var username = document.forms["registerForm"]["username"].value;
			var password = document.forms["registerForm"]["password"].value;
			var rep_password = document.forms["registerForm"]["rep_password"].value;
			var email = document.forms["registerForm"]["email"].value;
			var phone = document.forms["registerForm"]["phone"].value;
			if (username == null || username == ""){
				alert("用户名不能为空");
				return false;
			}
			var reg_filter=/^s*[.A-Za-z0-9_-]{5,20}s*$/;
			if (!reg_filter.test(username)){
				alert("用户名填写不正确,请重新填写！可使用的字符为（A-Z a-z 0-9 _ - .)长度不小于5个字符，不超过20个字符，注意不要使用空格");
				return false;
			}
			if (password == null || password == ""){
				alert("密码不能为空");
				return false;
			}
			if (!reg_filter.test(password)){
				alert("密码填写不正确,请重新填写！可使用的字符为（A-Z a-z 0-9 _ - .)长度不小于5个字符，不超过15个字符，注意不要使用空格");
				return false;	
			}
			if (rep_password == null || rep_password == ""){
				alert("重复密码不能为空");
				return false;
			}
			if (email == null || email == ""){
				alert("邮箱不能为空");
				return false;
			}

			if (phone == null || phone == ""){
				alert("手机不能为空");
				return false;
			}
			var phone_reg = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+\d{8})$/; 
			if (!phone_reg.test(phone)){
				alert("请输入有效的手机号");
				return false;
			}
			var atpos=email.indexOf("@");
			var dotpos=email.lastIndexOf(".");
			if (atpos<1 || dotpos<atpos+2 || dotpos+2>=email.length){
			  alert("请输入有效的邮箱地址");
			  return false;
			}
			if (password != rep_password){
				alert("密码不匹配");
				return false;
			}
			return true;
		}
		function reset() {
			$('#username').val('');
			$('#password').val('');
			$('#rep_password').val('');
			$('#email').val('');
			$('#phone').val('');
		}
	</script>
</head>

<body >
	<form name="registerForm"  action="" onsubmit="return vaildateForm();" onreset="reset()" method="post">
		用户名： 
		<input type="text" name="username" id="username" size="24"  maxlength="24"></br></input>
		密码： 
		<input type="password" name="password" id="password" size="24"  maxlength="24"></br></input>
		重复密码：
		<input type="password" name="rep_password" id="rep_password" size="24"  maxlength="24"></br></input>
		邮箱：  
		<input type="text" name="email" id="email" size="24"  maxlength="24"></br></input>
		手机：  
		<input type="text" name="phone" id="phone" size="24"  maxlength="24"></br></input>
		
		<input type="submit" value="提交" id="submit">
		<input type="reset"  value="重置" id="reset">
	</form>
</body>
<html>
