/*******************************
        Highlighted Colors
*******************************/

::-webkit-selection {
    background-color: #FFFFCC;
    color: #555555;
}
::-moz-selection {
    background-color: #FFFFCC;
    color: #555555;
}
::selection {
    background-color: #FFFFCC;
    color: #555555;
}

h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection {
    background-color: #F1C1C2;
    color: #222222;
}
h1::selection,
h2::selection,
h3::selection {
    background-color: #F1C1C2;
    color: #222222;
}
.ui *::-moz-selection {
    background-color: #CCE2FF;
}
.ui *::selection {
    background-color: #CCE2FF;
}

/*******************************
             Global
*******************************/

html,
body {
    font-size: 15px;
}

body > .content  {
    background: #FCFCFC url(/static/img/bg.jpg) repeat;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

ul.list {
    list-style-type: disc;
}
ul.list li {
    list-style-position: outside;
}


/* text and headers */
h1 {
    margin: 0px 0px 20px;
    padding: 50px 0px 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
h4 + p {
    margin: 0px 0px 20px;
}
pre {
    background-color: #F0F0F0;
}
pre.console {
    background-color: transparent;
    line-height: 1.6;
    font-family:  'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    height: 300px;
    overflow: auto;
}
code {
    background-color: rgba(0, 0, 0, 0.02);
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: inline-block;
    font-family: Courier New;
    font-size: 14px;
    margin: 0.25em;
    padding: 0.125em 0.5em;
    vertical-align: middle;
}
pre code {
    border: none;
    padding: 0px;
}
table pre,
table code {
    margin: 0px !important;
    padding: 0px;
    background-color: transparent;
}
p {
    margin: 1em 0em;
}
p:first-child {
    margin-top: 0em;
}
p:last-child {
    margin-bottom: 0em;
}
/* links */
a {
    color: #009FDA;
    text-decoration: none;
}
a:hover {
    color: #00BAFF;
}

/*--------------
    Intro
---------------*/

body.guide .main h3 {
    margin: 2rem 0em 0.5rem;
}
body.guide .main.container > * {
    max-width: 800px;
}
